<section class="section">
  <div class="columns">
    <div class="column">
      <div class="card">
        <header class="card-header-title">
          sdfjksdfhsjkfshfsjkhskj
        </header>
        <div class="card-content">
          <div class="content">
            afsf sdfh fsf sfsd ds dsd dsssdsddsd  dsds d s d ds sd dssd ds sd
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <header class="card-header-title">
          sdfjksdfhsjkfshfsjkhskj
        </header>
        <div class="card-content">
          <div class="content">
            afsf sdfh fsf sfsd ds dsd dsssdsddsd  dsds d s d ds sd dssd ds sd
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <header class="card-header-title">
          sdfjksdfhsjkfshfsjkhskj
        </header>
        <div class="card-content">
          <div class="content">
            afsf sdfh fsf sfsd ds dsd dsssdsddsd  dsds d s d ds sd dssd ds sd
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <header class="card-header-title">
          sdfjksdfhsjkfshfsjkhskj
        </header>
        <div class="card-content">
          <div class="content">
            afsf sdfh fsf sfsd ds dsd dsssdsddsd  dsds d s d ds sd dssd ds sd
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
