<nav class="nav">
  <div class="nav-left">
    <a class="nav-item logo">
      <i class="fa fa-fire"></i>
      <h1>Movement</h1>
    </a>
  </div>
  <div class="nav-right">
    <div class="nav-item">
      <p class="control">
        <a class="button is-primary">Sign in</a>
        <a class="button">Sign up</a>
      </p>
    </div>
  </div>
</nav>
