<nav class="nav">
  <div class="nav-left">
    <a class="nav-item logo" href="/">
      <i class="fa fa-fire"></i>
      <h1>Movement</h1>
    </a>
  </div>
  <div class="nav-center">
    <div class="nav-item">
      <%= form_tag ({controller: "pages", action: "search"}) do %>
        <%= search_field(:page, :title, class: "input", placeholder: "Search") %>
      <% end %>
    </div>
  </div>
  <div class="nav-right">
    <div class="nav-item">
      <p class="control">
        <% if @user %>
          <a class="button is-primary">
            <i class="fa fa-user"></i>
            <%= @user.username %>
          </a>
          <a class="button" href="/users/logout">Sign out</a>
        <% else %>
          <a class="button is-primary" href='/users/login'>Login</a>
          <a class="button" href='/users/new'>Sign up</a>
        <% end %>
      </p>
    </div>
  </div>
</nav>
